
body {
  background-color: #c4cfe0;
}

.jumbotron {
  background-color: #3f9be6;
}

.jumbotron h1, .jumbotron h2 {
  color: white;
}

.red {
  color: #d32525;
}
.green {
  color: #1e9e61;
}
.blue {
  color: #3f9be6;
}
.orange {
  color: #d3772f;
}
.yellow {
  color: #fce200;
}
.grey {
  color: #d7e0ee;
}

.red-edge {
  border-left-color: #d32525;
}
.green-edge {
  border-left-color: #1e9e61;
}
.blue-edge {
  border-left-color: #3f9be6;
}
.orange-edge {
  border-left-color: #d3772f;
}
.yellow-edge {
  border-left-color: #fce200;
}

#about {
  float: right;
  margin-top: -220px;
  border-radius: 12px;
  background-color: #d7e0ee;
  text-align: center;
}

.project-slide {
  transition: margin-left 0.5s;
  border-left-width: 12px;
  border-left-style: solid;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  margin-top: 20px;
  padding: 15px;

  background: #d7e0ee; /* Old browsers */
  background: -moz-linear-gradient(left, #d7e0ee 0%, #d7e0ee 80%, #c5cee0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#d7e0ee), color-stop(80%,#d7e0ee), color-stop(100%,#c5cee0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #d7e0ee 0%,#d7e0ee 80%,#c5cee0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #d7e0ee 0%,#d7e0ee 80%,#c5cee0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #d7e0ee 0%,#d7e0ee 80%,#c5cee0 100%); /* IE10+ */
  background: linear-gradient(to right, #d7e0ee 0%,#d7e0ee 80%,#c5cee0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7e0ee', endColorstr='#c5cee0',GradientType=1 ); /* IE6-9 */
}

.project-slide:hover {
  margin-left: 30px;
}

.project-slide h3 {
  margin-top: 10px;
}

.project-banner {
  transition: background-color 0.5s;
  height: 100px;
  width: 200px;
  display: inline-block;
  border: #c4cfe0 1px solid;
  text-align: center;
  cursor: pointer;
}
.project-banner:hover {
  background-color: #c4cfe0;
}

.project-caption {
  margin-top: 60px;
}