<h2>
  {{project.name}}
  <small><a ng-show="project.url" ng-href={{project.url}} target="_blank">(<span class="glyphicon glyphicon-new-window"></span>)</a></small>
</h2>

<h4>{{project.date}}</h4>

<p ng-bind-html="project.description"></p>

<p>{{project.note}}</p>

<!-- Screenshots -->
<div class="screenshots row" ng-if="project.screenshots.length">
  <div class="col-lg-10 col-lg-offset-1">
    <h4>Screenshots</h4>
    <div class="row" ng-repeat="row in project.screenshots | split:3">
      <div class="col-md-4" ng-repeat="image in row">
        <!-- TODO: make image modal carousel -->
        <a class="thumbnail">
          <img ng-src="{{image.url}}" alt="{{image.caption}}"/>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="embedded-content center-block" ng-if="project.embed" ng-style="{width: project.embed.width}"
     ng-bind-html="project.embed.html">
  <!-- TODO: add Play button that opens embedded file in modal -->
</div>