<h2>
  {{project.name}}
  <small><a ng-show="project.url" ng-href={{project.url}} target="_blank">(<span class="glyphicon glyphicon-new-window"></span>)</a></small>

  <button class="btn btn-large btn-info" id="play-btn" data-toggle="modal" data-target="#embed-modal" ng-if="project.embed" ng-click="focus()">
    <span class="glyphicon glyphicon-play"></span> Play now!
  </button>
</h2>

<h4>{{project.date}}</h4>

<div ng-show="project.builds" class="project-info">
  <strong ng-show="project.builds.length">Builds:</strong>
  <span ng-repeat="build in project.builds">
    <a ng-href="{{build.url}}" target="_blank">{{build.type}}</a>
    <span ng-show="!$last"> | </span>
  </span>
</div>

<p ng-bind-html="project.description | trustAsHtml"></p>

<p>{{project.note}}</p>

<div ng-show="project.collaborators.length" class="project-info">
  <strong>Collaborators:</strong> {{project.collaborators.join(', ')}}
</div>

<!-- Screenshots -->
<div class="screenshots row" ng-if="project.screenshots.length">
  <div class="col-lg-10 col-lg-offset-1">
    <h4>Screenshots</h4>
    <div class="row" ng-repeat="row in project.screenshots | split:3">
      <div class="col-md-4" ng-repeat="image in row">
        <a data-toggle="modal" data-target="#screenshot-modal" class="thumbnail" ng-click="slideTo($index)">
          <img ng-src="{{image.url}}" alt="{{image.caption}}"/>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Embedded Music -->
<div class="music row" ng-if="project.music">
  <div class="col-lg-10 col-lg-offset-1">
    <h4>Music</h4>
    <iframe width="100%" height="166" scrolling="no" frameborder="no" ng-src="{{project.music | trustAsResourceUrl}}"></iframe>
  </div>
</div>

<!-- TODO: Add rating, comment field -->


<!-- Screenshot modal carousel -->
<div class="modal fade" id="screenshot-modal" ng-if="project.screenshots.length" aria-labelledby="screenshot-modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="screenshot-modal-label">Screenshots</h4>
      </div>

      <div class="modal-body">
        <carousel interval="-1" id="screenshot-carousel">
          <slide ng-repeat="image in project.screenshots" active="image.active">
            <img class="center-block" ng-src="{{image.url}}" alt="{{image.caption}}">
            <div class="carousel-caption">
              <h4>{{image.caption}}</h4>
            </div>
          </slide>
        </carousel>
      </div>
    </div>
  </div>
</div>

<!-- Embedded content modal -->
<div class="modal fade" id="embed-modal" ng-if="project.embed" aria-labelledby="embed-modal-label" aria-hidden="true" data-keyboard="false">
  <div class="modal-dialog" ng-style="{width: project.embed.width + 40}">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="embed-modal-label">{{project.name}}</h4>
      </div>

      <div class="modal-body">
        <div class="embedded-content center-block" ng-style="{width: project.embed.width}" ng-bind-html="project.embed.html"></div>
      </div>
    </div>
  </div>
</div>