<!DOCTYPE html>
<html lang="en" ng-app="navignaw">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="software and game development portfolio">
    <meta name="keywords" content="software, engineer, game, development, design, code">
    <meta name="author" content="Ivan Wang">

    <title>Ivan Wang | software and game development portfolio</title>
    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css"/>
  </head>

  <body ng-controller="HomeCtrl">

    <!-- Jumbotron (title) -->
    <div class="jumbotron">
      <div class="container">
        <h1>ivan wang.me</h1>
        <h2 class="grey">software and game development portfolio</h2>
      </div>
    </div>

    <!-- Floating About Me -->
    <div class="container">
      <div class="row">
        <div id="about" class="col-md-4 pull-right">
          <h3>About</h3>
          <!-- TODO: replace with icons and tooltip? -->
          <h5><a href="https://www.dropbox.com/s/iifhkifxgtbivm0/Resume_IvanWang.pdf">Resume</a> | <a href="https://github.com/navignaw/">GitHub</a> | <a href="https://www.linkedin.com/in/navignaw/">LinkedIn</a> | <a href="mailto:icw@cmu.edu">Email</a></h5>
          
          <p>Student by day, hacker by night, Ivan is a software and game developer studying computer science at Carnegie Mellon University, seeking to consume the next big coding challenge or summer internship.</p>
        </div>
      </div>
    </div>

    <!-- Outer carousel wrapper -->
    <div id="outer-carousel" class="carousel slide" data-interval="0" data-wrap="false">
      <div class="carousel-inner">

        <!-- First carousel slide: project links -->
        <div class="item active">
          <div class="container" ng-controller="ProjectsCtrl">
            
            <div class="row">
              <div class="project-slide red-edge col-lg-11">
                <h3>Web Development</h3>

                <div class="col-lg-11">
                  <div class="thumbnail project-banner non-select" ng-repeat="project in projects | filter:{type: 'web'}:true"
                       ng-click="go('/projects/' + project.id)">
                    <img ng-src="{{project.banner || defaultBanner}}"/>
                    <h4 class="project-caption" ng-hide="project.banner">{{project.name}}</h4>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="project-slide green-edge col-lg-11">
                <h3>Mobile Apps</h3>

                <div class="col-lg-11">
                  <a class="thumbnail project-banner non-select" ng-repeat="project in projects | filter:{type: 'mobile'}:true"
                       ng-click="go('/projects/' + project.id)">
                    <img ng-src="{{project.banner || defaultBanner}}"/>
                    <h4 class="project-caption" ng-hide="project.banner">{{project.name}}</h4>
                  </a>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="project-slide orange-edge col-lg-11">
                <h3>Game Development</h3>

                <div class="col-lg-11">
                  <a class="thumbnail project-banner non-select" ng-repeat="project in projects | filter:{type: 'game'}:true"
                       ng-click="go('/projects/' + project.id)">
                    <img ng-src="{{project.banner || defaultBanner}}"/>
                    <h4 class="project-caption" ng-hide="project.banner">{{project.name}}</h4>
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!-- Second carousel slide: content -->
        <div class="item">
          <div id="project-container" class="container">
            <div ng-view></div>
            <br/>
            <button class="btn" ng-click="go('/')">&#171; Back</button>
          </div>
        </div>
      </div>

    </div>

    <!-- Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script> 
    <script src="static/js/ui-bootstrap-tpls-0.10.0.min.js"></script> 
    <script src="static/js/app.js"></script>
    <script src="static/js/routes.js"></script>
    <script src="static/js/projects.js"></script>
    <script src="static/js/services.js"></script>
    <script src="static/js/controllers.js"></script>
    <script src="static/js/filters.js"></script>
    <script src="static/js/directives.js"></script>
  </body>
</html>
