<!DOCTYPE html>
<html lang="en" ng-app="navignaw">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="software and game development portfolio">
    <meta name="keywords" content="software, engineer, game, development, design, code">
    <meta name="author" content="Ivan Wang">

    <title>Ivan Wang | software and game development portfolio</title>
    
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css"/>
  </head>

  <body ng-controller="HomeCtrl">

    <!-- Jumbotron (title) -->
    <div class="jumbotron">
      <div class="container">
        <h1>ivan wang.me</h1>
        <h2 class="grey">software and game development portfolio</h2>
      </div>
    </div>

    <!-- TODO: floating About Me here, complete with links to resume, github, linkedIn -->

    <!-- TODO: Outer carousel wrapper -->
    <div id="outer-carousel" class="carousel slide" data-interval="0" data-wrap="false">
      <div class="carousel-inner">

        <!-- First carousel slide: project links -->
        <div class="item active">
          <div class="container">
            
            <div class="row">
              <div class="project-slide red-edge col-lg-10 col-lg-offset2">
                <h3>Web Development</h3>
              </div>
            </div>

            <div class="row">
              <div class="project-slide green-edge col-lg-10 col-lg-offset2">
                <h3>Mobile Apps</h3>
              </div>
            </div>

            <div class="row">
              <div class="project-slide orange-edge col-lg-10 col-lg-offset2">
                <h3>Game Development</h3>
              </div>
            </div>

          </div>
        </div>

        <!-- Second carousel slide: content -->
        <div class="item">
          <div class="container">
            <div ng-view></div>
            
            <button class="btn" ng-click="carouselPrev()">Back</button>
          </div>
        </div>
      </div>

    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.min.js"></script> 
    <script src="static/js/app.js"></script>
    <script src="static/js/routes.js"></script>
    <script src="static/js/services.js"></script>
    <script src="static/js/controllers.js"></script>
    <script src="static/js/filters.js"></script>
    <script src="static/js/directives.js"></script>
  </body>
</html>
